.cardContainer {
    margin: 0 5%;
}

.titleCards {
    margin-top: 2%;
}

.small {
    width: 11rem;
    border: none !important;
    margin-right: 50px !important;
}

/* img btn */
.small:before {
    content: "";
    width: 11rem;
    height: 11rem;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff008c52;
}

.small:hover::before {
    background-color: #ff008c52;
}

.small img {
    display: block;
}

.small .btnplay {
    position: absolute;
    transform: translateY(110px);
    opacity: 0;
    color: #ffffff;
    font-size: 2rem;
}

.btnplay:hover {
    color: #01ffea !important;
}

.small .btnheart {
    position: absolute;
    opacity: 0;
    color: #ffffff;
    font-size: 1rem;
    border: none !important;
}

.btnheart svg {
    font-size: 2rem;
    color: #00eeff;
}

.small:hover button {
    opacity: 1;
}

/* img btn */

.img__small {
    width: 11rem;
    height: 11rem;
    object-fit: cover;
}

.big {
    width: 26rem;
    border: none !important;
}

/* img big btn together */
.img__big {
    width: 100%;
    height: 11rem;
    object-fit: cover;
}

.imgbig:before {
    content: "";
    width: 32rem;
    height: 11rem;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff008c52;
}

.imgbig:hover::before {
    background-color: #ff008c52;
}

.imgbig img {
    display: block;
}

.imgbig .btnplay {
    position: absolute;
    transform: translateY(110px);
    opacity: 0;
    color: #ffffff;
    font-size: 2rem;
}

.imgbig:hover {
    color: #ff5b9f !important;
}

.imgbig .btnheart {
    position: absolute;
    opacity: 0;
    color: #ffffff;
    font-size: 1rem;
    border: none !important;
}

.imgbig:hover button {
    opacity: 1;
}

/* img big btn together */
.card-title {
    font-size: 1rem;
}

.card-body {
    border: none;
}




/* PRUEBA */
.icards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.icard {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.icard__image {
    width: 100%;
    height: auto;
}

.icard__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.icard:hover .icard__overlay {
    transform: translateY(0);
}

.icard__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.icard__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.icard__arc path {
    fill: var(--surface-color);
}

.icard:hover .icard__header {
    transform: translateY(0);
}

.icard__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icard__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.icard__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.icard__status {
    font-size: .8em;
    color: #D7BDCA;
}

.icard__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}