:root {
        --purple: #9262FD;
        --pink: #D176FF;
        --light: #F9F0FF;
        --white: #FFFFFF;
}

body {
        margin: 0px;
        font-family: sans-serif;
        overflow-x: hidden;
}

.color-purple {
        color: var(--purple) !important;
}

.color-pink {
        color: var(--pink) !important;
}

.color-light {
        color: var(--light) !important;
}


.grid-center {
        display: grid;
        place-items: center;
}

.cursor-pointer {
        cursor: pointer;
}

/* Header */
.header {
        width: 100%;
}

/* Player */
.fixfooter {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
}

.img__player {
        width: 40px;
        position: absolute;
        display: flex;
        align-items: flex-start;
        margin-top: 65px;
        margin-left: 80px;
}



/* Avatar */
.dropdown-toggle::after {
        content: none !important;
}

.dropdown-menu[data-bs-popper] {
        right: 0;
        left: auto !important;
}

.icon {
        font-size: 2rem;
}


/* Boton with us color */
.btn-color {
        background-color: var(--purple) !important;
        color: white !important;
}


/* song page */
.song {
        margin-top: 0px;
        margin-bottom: 20px
}

.song img {
        max-height: 200px;
}

/* .btn__login--home svg {
        font-size: 2.5rem;
} */

.btn-svg svg {
        font-size: 1.5rem;
}

.tdhover svg :hover {
        color: #ff008c;
}


.containerButton--songpage {
        display: flex;
        justify-content: center;
}

.containerButton--songpage {
        display: flex;
        justify-content: center;

}

.containerButton--songpage__button {

        text-align: center;
        width: 75px;
        height: 35px;
        background-color: var(--purple) !important;
        border: none !important;
        border: none !important;
        text-decoration: none;
        padding: 1px 24px !important;
}